.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app h1 {
  padding: 1rem;
  background: #1a1a1a;
  border-bottom: 1px solid #333;
  font-size: 1.5rem;
}

.app p {
  padding: 1rem;
}
